<section>
  <h2>Comment</h2>

  <form class="new-comment-form">
    <div>
      <label for="comment-title">Title</label>
      <input type="text" id="comment-title" name="comment-title" />
    </div>
    <div>
      <label for="comment-url">Link</label>
      <input id="comment-url" name="comment-url"/>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if comments.length}}
<section>
  <h2>Comments</h2>
  <ol>
    {{#each comments as |comment|}}
    <li>
      {{> comment-info comment }}
      <a href="/dashboard/edit/{{comment.id}}" class="edit-link">Edit comment</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-comment.js"></script>