<header class="has-navbar-fixed-top has-background-success-light"
    style="background-image: url(https://www.xtrafondos.com/wallpapers/montanas-al-atardecer-en-el-bosque-3931.jpg);">
    <nav class="navbar is-fixed-top has-background-success-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item has-text-white is-size-3"></h1>
                <img src="public/images/barklogo.png" alt="site-logo" style="max-height: 100px" class="py-2" />
                <p>Bark! 2.0 </p>
            </span>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-text-white is-size-3">
                    <a class="button has-icons-left has-background-success-dark has-text-white" style="border:none"
                        href="/">
                        <span class="icon has-text-white">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>Home</span>
                    </a>
                </div>
                <div class="navbar-item has-text-white is-size-3">
                    <button class="button has-icons-left has-background-success-dark has-text-white" style="border:none"
                        id="about-us-btn">
                        <span class="icon">
                            <i class="fas fa-user-friends"></i>
                        </span>
                        <span>
                            About Bark 2.0
                        </span>
                    </button>
                    <div class="modal" id="about-us-modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head has-background-success-dark">
                                <p class="modal-card-title has-text-centered has-text-white">About Us</p>
                                <button class="delete" id="about-us-close" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body has-background-success-light has-text-black">
                                Bark 2.0 is an updated version of the original Bark web app originally created by Luis
                                Gallardo, Ben Tantillo, and Shayne Lemons.
                                Bark 2.0 is now a fullstack web app utilizing javascript, node, and Bulma CSS on the
                                front-end, and mysql, sequelize, express, and handlebars on the back-end.
                                Bark 2.0 was created by Luis Gallardo, Shayne Lemons, Will Darkins, and Aaron Robinett.
                            </section>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-text-white is-size-3">
                    <button class="button has-icons-left has-background-success-dark has-text-white" style="border:none"
                        id="contact-us-btn">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>
                            Contact Us
                        </span>
                    </button>
                    <div class="modal" id="contact-us-modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head has-background-success-dark">
                                <p class="modal-card-title has-text-centered has-text-white">Contact Us</p>
                                <button class="delete" id="contact-us-close" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body has-background-success-light has-text-black">
                                <h3>Luis Alonso Gallardo:</h3>
                                <ul>
                                    <li>
                                        <a href="https://github.com/L-Alonso" target="_blank">GitHub</a>
                                    </li>
                                    <li><a href="mailto:(Alonso_l@icloud.com)" target="_blank">iCloud</a></li>
                                </ul>
                                <h3>Shayne Lemons:</h3>
                                <ul>
                                    <li>
                                        <a href="https://github.com/SLemons6" target="_blank">GitHub</a>
                                    </li>
                                    <li><a href="mailto:lemonsshayne6@gmail.com" target="_blank">Gmail</a></li>
                                </ul>
                                <h3>Will Darkins:</h3>
                                <ul>
                                    <li>
                                        <a href="https://github.com/" target="_blank">GitHub</a>
                                    </li>
                                    <li><a href="mailto:" target="_blank">Gmail</a></li>
                                </ul>
                                <h3>Aaron Robinett:</h3>
                                <ul>
                                    <li>
                                        <a href="https://github.com/" target="_blank">GitHub</a>
                                    </li>
                                    <li><a href="mailto:" target="_blank">Email</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="navbar-item has-text-white is-size-3">
                    {{#if loggedIn}}
                    <button id="logout" class="button has-icons-left has-background-success-dark has-text-white" style="border:none">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>                       
                            Logout   
                    </button>
                    {{else}}
                    <button class="button has-icons-left has-background-success-dark has-text-white" style="border:none">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>
                            <a href="/login">Login
                        </span>
                    </button>
                    {{/if}}
                </div>
            </div>
    </nav>
    <script src="/javascript/navbar.js"></script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</header>