<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bark</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    
   
</head>

<section class="hero is-fullheight" style="background-image: url(https://www.xtrafondos.com/wallpapers/montanas-al-atardecer-en-el-bosque-3931.jpg);">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container"><a href=" "><img src="/group_project_2_bark_2.0/barklogo.png"></a>
        <div class="navbar-brand">
            
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span>About</span>
            <span>Sign up</span>
            <span>Log in</span>
            <span>Contact us</span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item has-text-white is-size-4">
              About
            </a>
            <a class="navbar-item has-text-white is-size-4">
              Sign up
            </a>
            <a class="navbar-item has-text-white is-size-4">
              Log in
            </a>
           <a class="navbar-item has-text-white is-size-4">
               Contact us
           </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered is-white">
      <p class="title has-text-white-bis is-size-1">
       What weekend adventures await for you and your dog?
      </p>
      <p class="subtitle">
     <button class ="button is-light is-medium is-fullwidth">Search National parks near you!</button>
      </p>
    </div>
  </div>
 
</section>
  
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/X.X.X/handlebars.js"></script>

</body>

</html>