
<section class="hero is-fullheight" style="background-image: url(https://www.xtrafondos.com/wallpapers/montanas-al-atardecer-en-el-bosque-3931.jpg);">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-size-2 has-text-white is-size-1 ">What weekend adventures await for you and your dog?  
            </p>
            <p class="subtitle is-white">
                <div class="field">
                    <div class="control">
                        <input id="park-search" class="input is-medium is-rounded" type="text" placeholder="Adventure is out there search National parks near you!">
                         <a href="/dashboard" class="button has-icons-left has-text-white is-text is-size-4">
                             <span class="icon">
                             <i class="fas fa-search"></i>
                            </span>
                            <span id="search-btn">
                             Search
                            </span></a>
                    </div>
                </div>    
            </p>
        </div>
   </div>
</section>
<script src="/public/javascript/nat-park-search.js"