
<section class="hero-body is-align-content-center"
    style="background-image: url(https://www.xtrafondos.com/wallpapers/montanas-al-atardecer-en-el-bosque-3931.jpg);">
    <div class="container is-fluid has-text-centered">
        <p class="title is-size-2 has-text-white is-size-1 ">
            What weekend adventures await for you and your dog?
        </p>
        <div class="field has-addons is-expanded is-justify-content-center">
            <div class="control is-expanded">
                <input id="park-search" class="input is-rounded is-fullwidth" type="text"
                    placeholder="Adventure is out there search National parks near you!"
                    style="text-align: center;">
            </div>
            <div class="control">
                <button class="button is-rounded is-success has-icons-left has-text-white" id="search-btn">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>
                        Search
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/javascript/nat-park-search.js"></script>
