
<section class="hero is-fullheight" style="background-image: url(https://www.xtrafondos.com/wallpapers/montanas-al-atardecer-en-el-bosque-3931.jpg);">
    <div class="hero-body">
        <div class="container has-text-centered">
            {{!-- opening statement to user to search --}}
            <p class="title is-size-2 has-text-white is-size-1 ">What weekend adventures await for you and your dog?  
            </p>
            <p class="subtitle is-white">
                <div class="field">
                    <div class="control">
                        {{!-- search input field --}}
                        <input id="park-search" class="input is-medium is-rounded" type="text" placeholder="Adventure is out there search National parks near you!">
                         <a href="#" class="button has-icons-left has-text-white is-text is-size-4">
                             <span class="icon">
                             <i class="fas fa-search"></i>
                            </span>
                            {{!-- search button --}}
                            <span id="search-btn">
                             Search
                            </span></a>
                    </div>
                </div>    
            </p>
        </div>
   </div>
</section>
{{!-- connecting jquery to the project --}}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="/javascript/nat-park-search.js"