{{!-- home view for search --}}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body container">
        <div class="hero-title has-background-dark mb-6">
            <p class="title is-size-2 has-text-white">What weekend adventures await for you and your dog?</p>
        </div>
        <div class="hero-subtitile has-background-dark mb-5">
            <p class="subtitle is-size-3 has-text-white">Search National parks near you!
            </p>
        </div>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="Adventure is out there!">
            </div>
            <div class="control">
                <a href="/dashboard" class="button has-icons-left has-background-success-dark has-text-white">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>
                        Search
                    </span>
            </div>
        </div>
</section>