<div class="has-background-success" id="login-form">
  <form class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Username</label>
    </div>
    <p class="control has-icons-left">
      <input class="input is-success" id="login-username" type="text" placeholder="Choose a Username">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i> </span>
    </p>
  </form>
  <form class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Password</label>
    </div>
    <p class="control has-icons-left">
      <input class="input is-success" id="login-password" type="text" placeholder="Add a Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </form>
  <div class="control">
    <button class="button is-success" id="login-btn">
    Login
    </button>
  </div>
</div>

<div class="has-background-success" id="signup-form">
  <form class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Username</label>
    </div>
    <p class="control has-icons-left">
      <input class="input is-success" id="signup-username" type="text" placeholder="Choose a Username">
      <span class="icon is-small is-left">
        <i class="fas fa-user-plus"></i> </span>
    </p>
  </form>
  <form class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Password</label>
    </div>
    <p class="control has-icons-left">
      <input class="input is-success" id="signup-password" type="text" placeholder="Add a Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </form>
  <div class="control">
    <button class="button is-success" id="signup-btn">
      Signup
    </button>
  </div>
</div>

<script src="/javascript/login.js"></script>