<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column">
  </div>
  {{!-- LOGIN FORM START --}}
  <div class="column">
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <form id="login-form">
            <h2>LOGIN</h2>
            <div class="field">
              <div class="control">
                <input id="login-username" class="input is-medium is-rounded" type="email"
                  placeholder="hello@example.com" autocomplete="username" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input id="login-password" class="input is-medium is-rounded" type="password" placeholder="**********"
                  autocomplete="current-password" required />
              </div>
            </div>
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </section>


    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <form class="signup-form">
            <h2>SIGNUP</h2>
            <div class="field">
              <div class="control">
                <input id="signup-username" class="input is-medium is-rounded" type="text" placeholder="username"
                  autocomplete="username" required />
              </div>
            </div>
            <div class="login">
              <form id="login-form">
                <div class="field">
                  <div class="control">
                    <input id="signup-email" class="input is-medium is-rounded" type="email"
                      placeholder="hello@example.com" autocomplete="username" required />
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input id="signup-password" class="input is-medium is-rounded" type="password"
                      placeholder="**********" autocomplete="current-password" required />
                  </div>
                </div>
                <br />
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                  Login
                </button>
              </form>
            </div>
        </div>
    </section>
  </div>
  <div class="column">
  </div>

</div>

<script src="/javascript/login.js"></script>